#image-container{
	display: flex;
}

canvas{
	letter-spacing: 4px;
	
}
#option{
	margin: 30px; 
}
span{
	font-weight: bold;
	font-size: 20px;
}
footer
{
	font-size: 15px;
	height: 35px;
	padding-top: 10px; 
}